---
import BaseLayout from "../../layouts/BaseLayout.astro";
import pageHtml from "../../markup/privacy-policy-main.html?raw";
---

<BaseLayout title="Privacy Policy - Osmo">
  <main data-barba="container" data-barba-namespace="legal-privacy" data-page-theme="light" class="main">
    <Fragment set:html={pageHtml} />
  </main>
</BaseLayout>
