---
import AppShellLayout from "../layouts/AppShellLayout.astro";
---

<AppShellLayout>
  <h1>Welcome to CommandCenter</h1>
  <p>Projects will appear here once the process engine is wired up.</p>
</AppShellLayout>
